{% extends "news_outlet/layout.html" %}

{% load static %}
{% block body %}
    <br><br><br>
    <div class="d-flex justify-content-center">
        <h3 class="mx-3 text-light">Hello {{ request.user.username }}!</h3>
    </div>
    <br>
    <h5 class="mx-5 px-5 text-light">Let's see what's trending</h5>

    <div class="container mt-5">
        <div class="row">
            {% for article in articles %}
                <div class="col-md-4 mb-4">
                    <div class="card text-white bg-dark">
                        <a href="{% url 'article_detail' article.pk %}" style="text-decoration: none;">
                            <img src="{% static 'news_outlet/img/placeholder.png' %}" class="card-img-top" alt="Article image">
                        </a>
                        <div class="card-body">
                            <h3 class="card-title">{{ article.title }}</h3>
                            <p class="card-text">{{ article.get_rendered_content|truncatechars:200|safe }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
