h1 {
    color: aquamarine;
}
body{
    padding-left: 5px;
    background-color: #1A1A1A;
    color: #D3D3D3;
}
.accent-color {
    color: #007BFF; /* For example */
}

.dark-input {
    background-color: #343a40; /* Dark background color */
    color: white; /* Text color */
    border-color: #343a40; /* Border color */
}
